@import 'variables';

.header-bar-right {
  display: flex;
  box-sizing: border-box;
  overflow: auto;

  @include media-query(lg) {
    flex-shrink: 0;
    width: auto;
  }

  &__inner {
    flex-shrink: 0;
    margin-left: -17px;
    padding: 0px 17px;

    @include media-query(lg) {
      margin-left: 0px;
      padding: 10px 0 0;
    }
  }

  &__nav {
    display: inline-flex;
    padding-bottom: 1px;
  }

  &__nav-link {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    margin-right: 18px;
    padding: 13px 0px;
    font-weight: 500;
    color: rgb(157, 160, 164);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    &:first-child {
      font-weight: 600;
      color: rgb(69, 73, 75);

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 18px;
        height: 2px;
        background-color: rgb(69, 73, 75);
        border-radius: 1px;
        transform: translateX(-50%);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-query(lg) {
      padding: 8px 0px;
      color: rgb(36, 40, 42);
    }
  }
}