@import 'variables';

.meetup-slider-item-text {
   
  &__sub-title {
    margin-bottom: 6px;
    padding-top: 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1;
    color: rgb(106, 110, 113);
  }

  &__main-title {
    padding-bottom: 12px;
    font-weight: 600;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5;
    font-size: 13px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 58.5px;
    color: rgb(36, 40, 42);
    overflow: hidden;
    transition: color 0.2s ease-in-out 0s;
  }
}