@import 'variables';

.member-icon {
  width: calc(25%);

  &__link {
    position: relative;
    display: block;
    width: 100%;
    max-width: 180px;
    padding-bottom: 19px;
    text-align: center;
    cursor: pointer;
    margin: 0px auto;
    border: 1px solid white;
    border-radius: 10px;
    border-image: initial;
  }

  &__image {
    position: relative;
    width: 70%;
    max-width: 110px;
    margin: 0px auto 8px;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  %__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1.06);
    border-radius: 50%;
    background-position: center center;
    transition: transform 150ms ease-out 0s;
  }

  &__image-first {
    @extend %__image;
    background-image: url("https://graph.facebook.com/663678867013081/picture?width=240&height=240");
  }

  &__image-second {
    @extend %__image;
    background-image: url("https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=240,dh=240,da=s,ds=s,cw=240,ch=240,cc=FFFFFF)/assets/images/5059229/original/4f9b22b0-f758-456b-946d-b909f96e8c64?1590043124");
  }

  &__image-third {
    @extend %__image;
    background-image: url("https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=240,dh=240,da=s,ds=s,cw=240,ch=240,cc=FFFFFF)/assets/images/2427153/original/c89462eb-ddda-4b0c-bd18-b0335600b970?1575706987");
  }

  &__image-fourth {
    @extend %__image;
    background-image: url("https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=240,dh=240,da=s,ds=s,cw=240,ch=240,cc=FFFFFF)/assets/images/2150834/original/453daee8-a9ac-4a8d-a0f9-485a44151127?1591259134");
  }

  &__selected {
    background-color: rgb(106, 110, 113);
    width: 12%;
    height: 2px;
    border-radius: 1.5px;
    margin: 19px auto 0px;
  }
}