@import 'variables';

.member-list {
  position: relative;
  max-width: 768px;

  &__icon {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 30px auto 0;
  }

  &__text {
    height: 26px;
    overflow: hidden;
    transition: height 300ms linear 60ms;
  }

  &__name {
    display: inline;
    font-size: 13px;
    font-weight: 600;
  }

  &__position {
    display: inline;
    font-size: 11px;
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.4);
  }
}