@import 'variables';

.mission {
  margin-top: 0px;
  margin: 0px 17px;

  &__text {
    width: 100%;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(0, 0, 0, 0.56);
    text-align: left;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    outline: none;
  }
}