@import 'variables';

.nav-left-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    width: 64px;
  }

  &:last-child {
    width: 84px;
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #9DA0A4;
    text-align: center;
    box-sizing: border-box;
  }

  &__link-inner {
    display: inline-block;
    line-height: 48px;
  }
}