@import 'variables';

.nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  z-index: 10;
  
  &__left {
    display: flex;
    margin: 0;
  }

  &__left-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      width: 64px;
    }
  
    &:last-child {
      width: 84px;
    }
  }

  &__left-link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #9DA0A4;
    text-align: center;
    box-sizing: border-box;
  }

  &__left-text {
    display: inline-block;
    line-height: 48px;
  }

  &__right {
    display: flex;
    margin: 0 6px 0 auto;
  }

  &__right-item {
    position: relative;
    height: 100%;
  }

  &__right-link {
    display: block;
    width: 44px;
    height: 44px;
    margin: 3px 0;
    font-size: 20px;
    line-height: 44px;
    color: #ccc;
    text-align: center;
  }

  &__right-profile {
    display: block;
    margin: 3px 0 3px 4px;
    padding: 6px;
  }

  &__right-profile-image {
    width: 32px;
    height: 32px;
    background-image: url("https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png");
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }
}