@import 'variables';

.team-list {
  display: flex;
  overflow-x: auto;

  &__card {
    flex-shrink: 0;
    width: calc((100% - 8px) / 1.5);
    margin-right: 16px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}