@import 'variables';

.values {

  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }

  &__list {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);

    &:first-child {
      margin-top: 30px;
      border-top: 1px solid rgb(238, 238, 238);
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }

  &__title {
    flex-shrink: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  &__title-text {
    font-size: 18px;
    line-height: 1.52;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
  }

  &__title-icon {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.12);
    margin-right: 10px;
    line-height: 0;
  }

  &__content {
    display: none;
    flex-grow: 1;
    width: 100%;
    padding-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.85;
    color: rgba(0, 0, 0, 0.56);
    white-space: pre-wrap;
    overflow: hidden;
  }
}